.sectionPage {
  margin-bottom: 0 !important;
  @media (max-width: 575px) {
    height: 250px; 
  }
  @media (min-width: 576px) {
    height: 420px; 
  }
}

.sectionPage::after {
  background: url("./assets/mother-and-daughter.jpg") !important;
  background-position: center center;
  background-size: cover !important;
  filter: opacity(1) !important;
}

@media (max-width: 575px) {
  .edge-header.reduced {
    height: 100px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}
